* {
    padding: 0;
    margin: 0;
}

body {
    // color: #fcfff5;
    color: #5b5f62;
}

a:hover {
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}

main a {
    // color: #a4c6d5;
    color: #4d7c91;
    text-decoration: none;
}

main a:hover {
    // color: #fcfff5;
    color: #a4c6d5;
}

.wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    height: 0px;
}

main {
    flex: 1;
    font: 20px sans-serif;
}

header {
    background-color: #2ecc71;
}

main {
    background-color: #fefcfd;
}

footer {
    color: white;
    height: 40px;
    color: #fcfff5;
    background-color: #3e606f;
    text-align: left;
    font: 13px sans-serif;
    padding: 10px 50px;
}

footer .footer-left,
footer .footer-right {
    display: inline-block;
    vertical-align: center;
}

footer .footer-left {
    box-sizing: border-box;
    width: 50%;
}

footer .footer-right {
    box-sizing: border-box;
    width: 49%;
    text-align: right;
}

footer .footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #193441;
    border-radius: 2px;
    font-size: 20px;
    color: #fcfff5;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
}

footer .footer-icons a:hover {
    background-color: #cce7f4;
    color: #193441;
}

.content-left {
    box-sizing: border-box;
    height: 100%;
    width: 50%;
    float: left;
    text-align: right;
    padding-right: 10%;
}

.content-right {
    box-sizing: border-box;
    height: 100%;
    width: 50%;
    text-align: left;
    float: left;
    padding-left: 10%;
    line-height: 35px;
}

.content-left span,
.content-right span {
    display: inline-block;
    /*padding-top: 50%;*/

    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%);
}

.content-right span {
    // border-left: solid 2px rgba(252, 255, 245, 0.7);
    border-left: solid 2px rgba(91, 95, 98, 1.0);
    padding-left: 30px;
    margin-left: -15%;
}
