<!DOCTYPE html>
<html lang="en">
    <head>
        {% block head %}
        <link rel="stylesheet" href="style.css"/>
        <title>{% block title %}{% endblock %}</title>
        {% endblock %}
    </head>
    <body>
        <div id="content-header">
            {% block content_header %}{% endblock %}
        </div>
        <div id="content-body">
            {% block content_body %}{% endblock %}
        </div>
        <div id="content-footer">
            {% block content_footer %}{% endblock %}
        </div>
    </body>
</html>
